@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">New Ideas Web App</h1>
    <p>Welcome to the New Ideas Web App! <a href="https://github.com/cwooz/IdeasWebApp">Repo hosted at Github here</a>.</p>
</div>
